body{
    font-family: 'Roboto', sans-serif;
    background-color: #f4f7fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.dashboard-container{
    position: relative;
    top: 2rem;
    background: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 70%;
    text-align: center;

}

.dashboard-header h1{
    font-size: 2 rem;
    margin-bottom: 10px;
    color: #333;

}

.dashboard-header p{
    margin: 5px 0;
    font-size: 1.2rem;
    color: #666;

}

.role{
    font-weight: bold;
    color: #27ae60;
}

.dashboard-content{
    margin-top: 30px;

}

.employee-details{
    background-color: #f9fafb;
    border: 1px solid #e2e8f0;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;

}

.employee-details p{
    margin: 10px 0;
    font-size: 1rem;

}

.btn{
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    padding: 12px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s ease;

}

.btn:hover{
    background-color: #2980b9;
}

.admin-btn{
    background-color: #2ecc71;
}

.admin-btn:hover{
    background-color: #27ae60;
}
.logout-btn{
    background-color: #e74c3c;
}
.logout-btn:hover{
    background-color: #c0392b;
}

.dashboard-footer{
    margin-top:30px ;
}